<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.phonenumber %></p>
<p><%= @restaurant.category %></p>

<%= form_for([@restaurant, @review]) do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <%= f.submit %>
<% end %>


<% @restaurant.reviews.each do |review| %>
  <%= review.content %>
  <%= review.rating %>
<% end %>

<% if @review.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= image_tag @restaurant.picture.url(:medium) %>